<div class="container-fluid">
  <div class="panel panel-default">
    <h1>
      {{title}}
    </h1>
    <input type="text" [(ngModel)]="title"/>
  </div>

  <h2>
    {{message}}
    {{date | date:'dd.MM.yyyy HH:mm:ss'}}
  </h2>

  <div class="panel panel-default">
    <courses></courses>
    <authors></authors>
  </div>


  <button class="btn btn-primary" [class.active]="isButtonActive"
          [style.backgroundColor]="isButtonActive ? 'red' : 'gray'">Submit
  </button>
  <div (click)="divOnClick()">
    <button (click)="buttonOnClick($event)">On click {{count}}</button>
  </div>

  <div class="panel panel-default">
    <app-star [isFavorite]="post.isFavorite" (change)="onFavoriteChange($event)"></app-star>
    <app-like [likeCount]="tweet.totalLikes" [isLiked]="tweet.iLike"></app-like>
  </div>

  <div class="panel panel-default">
    <app-vote-poll [voteCount]="post.voteCount" [myVote]="post.myVote" (vote)="onVote($event)"></app-vote-poll>
  </div>
</div>
